button {
    display: block;
    margin: 5px 5px 5px 5px;
    width: 200px;
    height: 55px;
    font-size: 24pt;
    font-weight: bold;
    color: black;
}

.LOW { background-color: lightgray; }

.HIGH { background-color: greenyellow; }